/* ===============================
   INTRO LINES
================================ */
.intro-lines {
    position: relative;
    inset: auto;
   
    width: 100%;
    margin-top: 2rem;
    padding: 0;
   
    display: flex;
    flex-direction: column;
    gap: 0;
   
    pointer-events: none; /* لا تتفاعل */

    text-align: start;
    align-items: flex-start;
}

/* جميع الأسطر */
.intro-lines p {
    font-size: 0.95rem;
    opacity: 0.75;
    max-width: 100%;

    margin: 0;
}


