@import url('../../core/theme.css');
@import url('../../core/components.css');
@import url('./header.css');
@import url('./sidebar.css');
@import url('./fab.css');
@import url('./contact-modal.css');
@import url('./download-modal.css');footer.css
@import url('./footer.css');
@import url('./main-content/tool-file1.css');


@import url('./hero.css');
@import url('./products.css');

